*{
    margin: 0px;
}
footer{
   
    background-color: rgb(242 17 17);
    text-align: center;
    fill: white;
    height: 15vh;
    padding-top: 2%;
        display: grid;
        grid-template-columns: 2fr 2fr 0.5fr;
        column-gap: 10px;
        color: rgb(252 255 104);

}
footer div{
   padding-top: 5%;
    font-size: 12px;
}
#botaovoltar{
    background-color: rgb(252 255 104);
    border-radius: 50px;
   height: 50%;
  text-align: center;
   padding-top: 15%;



}
#botaovoltar a{
   
    
 
    font-size: 24px;
    color: rgb(242 17 17);
    text-decoration: none;
}
header{
    background-color: red;
    color: rgb(252 255 104);
    height: 15vh;
    
    font-size: 37px;
}
header h1{
    padding-top: 2%;
    padding-left: 34%;
}
main{
    height: 70vh;
    color: red;
    background-color: rgb(252 255 104);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#quatroitens{
    padding-left: 3%;
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 0px;
}
#doisp{
    padding-left: 4%;
    padding-top: 3%;
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#doisitens{
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-left: 3%;
}
#doisimg{
    padding-left: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 50%;
    padding-bottom: 5%;
}
img{
    height: 20vh;
}
#doisimgp{
    text-align: center;
    padding-right: 20%;
    font-size: 24px;
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 0px;
align-items: center;
justify-content: center;

}
#doisimgpi{
    padding-left: 5%;
   font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    }
    #esquerda{
        padding-left: 50%;
    }
 #topo{
    padding-top: 10%;
 }   
 @media(max-width: 600px)
 {
    *{
        margin: 0px;
    }
    header{
        background-color: red;
        color: rgb(252 255 104);
        height: 15vh;
        
        font-size: 29px;
    }
    header h1{
        padding-top: 6%;
        padding-left: 28%;
    }
    *{
        margin: 0px;
        
    }
    footer{
       
        background-color: rgb(242 17 17);
        text-align: center;
        fill: white;
        height: 25vh;
        padding-top: 2%;
            display: grid;
            grid-template-rows: 2fr 2fr 0.5fr;
           display: flex;
           flex-direction: column;
           row-gap: 40px;
            color: rgb(252 255 104);
    
    }
    footer div{
       padding-top: 5%;
        font-size: 12px;
    }
    
        #botaovoltar{
            background-color: rgb(252 255 104);
            border-radius: 50px;
           height: 20%;
          text-align: center;
          padding-top: 0%;
    
    
    
        }
        #botaovoltar a{
           
            
         
            font-size: 24px;
            color: rgb(242 17 17);
            text-decoration: none;
        }
    main{
        height: 70vh;
        color: red;
        background-color: rgb(252 255 104);
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    #quatroitens{
        padding-left: 3%;
        
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 0px;
    }
    #doisp{
        padding-left: 4%;
        padding-top: 3%;
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #doisitens{
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-left: 3%;
    }
    #doisimg{
        padding-left: 3%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding-right: 20%;
        padding-bottom: 5%;
       
    }
    img{
        height: 15vh;
    }
    #doisimgp{
        text-align: center;
        padding-right: 20%;
        font-size: 15px;
        display: flex;
        flex-direction: column;
    column-gap: 0px;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    }
    #doisimgpi{
        padding-left: 5%;
       font-size: 14px;
        display: flex;
        flex-direction: column;
        column-gap: 10px;
        row-gap: 10px;
        }
        #esquerda{
            padding-left: 50%;
        }
     #topo{
        padding-top: 10%;
     }  
 }